/*
Name: Robert Kacso
Student number: B00123508
Assignment 1, 2020
*/

body {
    background-color: #FFD4D7;
}

/*Navbar*/

#logo a {
    font-family: 'Sacramento', cursive;
    font-size: 50px;
    font-weight: bold;
    color: #132614;
    text-decoration: none;
    margin-top: 0%;
}

.active {
    background-color:#D97582;
}

nav a:hover {
    color: #132614;
}

nav li a {
    color:black;
}

#navbarRow {
    margin-bottom: 0px;
}

/*Content*/

.break-text p {
    word-wrap: break-word;
}

#contentRow {
    width: 100%;
    padding-right: 20px;
    margin-left: 20px; 
}

/*Contact*/

#contactFormRow {
    padding-top: 20px;
}

#contactIconRow {
    padding-top: 20px;
}

.glyphicon {
    font-size: 50px;
    color: #132614;
}

.map-responsive{
    overflow:hidden;
    padding-bottom: 50%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    padding-bottom: 30px;
}

/*Services*/

.servicesImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*Testimonials*/

.rowSpace{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:20px;
    padding-bottom: 20px;
    color: #132614;
    background-color: #FFD4D7; overflow: hidden;
}

/*Gallery*/

#grad {
    background-image: linear-gradient(#FFD4D7 65%, #D97582);
}
.galleryImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 20px;
    padding-bottom: 10px;
}

.roundedCorners {
    border-radius: 20px;
}

/*Footer*/

#sticky-footer {
    flex-shrink: inherit;
  }

#footerRow {
    background-color: #1B5942; 
    color:white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.footerIcon {
    float: right;
    padding-left: 10px;
}